<div class="outer-contain">
    <!-- search bar/form info -->
    <div class="search">
      <form>
        <input type="text"/>
        <button type="button"> Go geddem tygre </button>
      </form>
    </div>

    <div class="beef">
      <h1>{{ temp }}</h1>
      <div>
        <h2 class="right-info">F</h2>
        <h2 class="right-info">{{ description }}</h2>
        <h3 class="right-info">{{ humidity }}% Humidity</h3>
      </div>
    </div>

    <div class="footer">
      <div *ngFor="let forecast of forecastData">
         <app-footer-display [forecast]='forecast'></app-footer-display>
      </div>
    </div>
</div>
